


.background {
	background-image: url('rectangle-2.png');
}

.nav-bg {
	background-color: rgba(52,48,57,0.7);
}

.navbar-dark .navbar-nav .active .nav-link{
	color: #ea9d00;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
}

.button {
	padding: 9.5px 20px;
}

.footer-card{
	background-color: #ea9d00;
}

.bg{
	background-color: #532bfe;
	position: relative;
	border-radius: 5px;
}

.image-text{
	position: absolute;
	top: 20%;
	left: 10%;
}

.para{
	line-height: 2.5;
}

.course1{
	background-color: #00cad1;
	border-radius: 10px;
}

.course2{
	background-color: #f6323d;
	border-radius: 10px;
}

.course3{
	background-color: #6980a8;
	border-radius: 10px;
}

.course4{
	background-color: #fea748;
	border-radius: 10px;
}

.ellipse{
	position: relative;
}

.youtube{
	position: absolute;
	top: 41%;
	left: 18.5%;
}

.notifications{
	position: absolute;
	top: 39%;
	left: 40%;
}

.people{
	background-color: #532bfe;
	position: relative;
}

.people-text{
	position: absolute;
	top: 50%;
	left: 15%;
	z-index: 10;
}
.contact{
	background-color: lightgrey;
}
.footer{
	background-color: rgba(0,0,0,0.85);
	font-size: 11px;
}
/*.navbar-top{
	background-color: transparent;
}
.thumbnail {
    position: relative;
    background-color: #1a74d0;
}
.caption {
    position: absolute;
    top: 0;
    left: 0;
    }
.background{
	background-color:#efb265;
	color: white;
	
}
.button{
	background-color: white;
	border: 1px solid white;
}
.contact{
	background-color: lightgrey;
}
.about{
	background-color:#1a74d0;
}
.video{
	background-color: white;
	color: black;
}
.relative{
	position: absolute;
    top: 36%;
    left: 13%;
 }
.footer{
	background-color: rgba(0,0,0,0.85);
	font-size: 11px;
}
@media (max-width: 575px){
		
		.icons{
			text-align: center;
		}
		
}
@media (min-width: 768px) and (max-width: 991px) { 
		.icons{
			text-align: center;
		}
		
}*/